
<div id="add-event-button">
    <p>+</p>
</div>
<div id="page0" class="page">
	<section id="cd-timeline" class="cd-container">
		
			<div class="car-icon">
				<%= image_tag "car-icon.png", alt: "o" %>
		        
		    </div>
		    <% @checkpoints.each do |checkpoint| %>
			    <%= render checkpoint %>
			<% end %>  
		
		

	</section>
</div>
<div id="pageMenu" class="page" style="display: none">
   <section>
       <div class="button-full" >
           <div class="caution-bg">
            <h2>Report road problem</h2>
           </div>
       </div>
       <div class="button-full">
           <div  class="hitchhiker-bg">
               <h2> Request ride</h2>
           </div>
       </div>
       <div class="button-full">
           <div class="car-bg">
            <h2> Offer ride</h2>
           </div>
       </div>
   </section>
</div>
<div id="pageCreateReport" class="page" style="display: none">
	<%= render 'notices/form', notice: Notice.new %>
</div>
